<header class="masthead">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12 text-center">
                <h1 class="font-weight-bold">Slmart!</h1>
                <h3 class="lead">
                    By anything from anywhere in srilanka
                </h3>
            </div>
        </div>
    </div>
</header>
<div class="float-right">
    <i class="fa fa-arrow-up " onclick="topFunction()" id="mybtn" style="cursor: pointer;"></i>
</div>