<h2 class="text-center mt-5 mb-5">
    our Services</h2>
<section id="chef">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-3 col-lg-3">
                <img src="https://t3.ftcdn.net/jpg/03/00/04/22/240_F_300042223_6w2xFehw6jpdtl3JrCdqYf9ilbHRnLkk.jpg" class="img-fluid">
                <div class="text-center pt-1">
                    <h4>24/h Customer Support</h4>
                </div>
            </div>
            <div class="col-sm-6 col-md-3 col-lg-3">
                <img src="https://t3.ftcdn.net/jpg/03/61/09/90/240_F_361099019_Gi0wQYI40PoEAYFUkg3Zdi6yBPf16cHD.jpg" class="img-fluid">
                <div class="text-center pt-1">
                    <h4>Quality Products</h4>
                </div>
            </div>
            <div class="col-sm-6 col-md-3 col-lg-3">
                <img src="hhttps://stock.adobe.com/sg/images/fast-moving-shipping-delivery-truck-line-art-vector-icon-for-transportation-apps-and-websites/227739395" class="img-fluid">
                <div class="text-center pt-1">
                    <h4>Quick Delivery</h4>
                </div>
            </div>
        </div>
    </div>
</section>